<div class="row">
  <div class="col-sm-4 col-sm-offset-4">

    <form nctype="multipart/form-data" action="/posts/{{post._id}}/edit" method="put">

      <legend>Edit Post</legend>

      {{> form}}

      <div class='text-right'>
        <!-- Close button to go back  -->
        <a href="/" class="btn btn-danger">Close</a>
        <!-- Submit the form input -->
        <button type="submit" class="btn btn-primary">Edit</button>
      </div>

    </form>

  </div>
</div>
