<div class="row">
  <div class="col-sm-4 col-sm-offset-4">

    <form nctype="multipart/form-data" action="/posts/new" method="post">
      <legend>New Post</legend>

      <div class="form-group">
        <label for="post-title">Title</label>
        <input type="text" name="title" class="form-control" id="post-title" placeholder="Enter title here...">
      </div>

      <div class="form-group">
        <label for="post-url">Url</label>
        <input type="url" name="url" class="form-control" id="post-url" placeholder="https://www.github.com/jayceazua">
      </div>

      <div class="form-group">
        <label for="post-summary">Summary</label>
        <textarea name="summary" class="form-control" id="post-summary" placeholder="Enter summary here..."></textarea>
      </div>

      <div class='text-right'>
        <!-- Close button to go back  -->
        <a href="/" class="btn btn-danger">Close</a>
        <!-- Submit the form input -->
        <button type="submit" class="btn btn-primary">Post</button>
      </div>
    </form>

  </div>
</div>
